<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANxATMDQ2ajeOZY1D1fIVGULWmCZyKQYY</string>
	<key>GCM_SENDER_ID</key>
	<string>670641032832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.finderex.finderex</string>
	<key>PROJECT_ID</key>
	<string>finderex-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>finderex-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670641032832:ios:878aa88a67ad8c75c06065</string>
</dict>
</plist>